<h2>My Owned Goats</h2>
<div class="goat-container">
  <% @goats_owned.each do |goat| %>
    <div class="card-goat">
      <% if goat.photo.attached? %>
        <%= cl_image_tag goat.photo.key, height: 400, width: 400, crop: :fill %>
      <% else %>
        <%= image_tag "nogoat.jpg", alt: "No image available", height: 400, width: 400, crop: :fill %>
      <% end %>
      <div class="card-goat-infos">
        <div class="goat-info">
          <h2><%= link_to goat.name, goat_path(goat) %></h2>
          <p>Price: $<%= goat.price %></p>
          <p>Color: <%= goat.color.capitalize %></p>
          <p>Personality: <%= goat.personality %></p>
          <p>Weight: <%= goat.weight %>kg</p>
          <p>Age: <%= goat.age %> years</p>
        </div>
        <div class="rental-info">
          <% if goat.offers.any? { |offer| offer.status == "confirmed" } %>
            <p class="btn btn-success disabled">on rent!</p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
