<div class="container my-4 w-25">
  <h1>Make a booking for <%= @goat.name %></h1>
  <%= simple_form_for [@goat, @offer] do |f| %>
    <%= f.input :start_date, as: :string, input_html: { data: { controller: "datepicker" } } %>
    <%= f.input :end_date, as: :string, input_html: { data: { controller: "datepicker" } } %>
    <%= f.input :price, disabled: true, label: "$ per day", input_html: { value: @goat.price } %>
    <%= f.input :comment, label: "Add comment to booking request:" %>
    <%# <p>Calculated booking total: <%= @offer.end_date - @offer.start_date %>
    <%= f.submit "Make Booking", class: "btn btn-primary" %>
  <% end %>
</div>
