<div data-controller="toggleute" class="container my-4 w-25">
  <div>
    <h1>Make a booking for <%= @goat.name %></h1>
    <%= simple_form_for [@goat, @offer] do |f| %>
    <%= f.input :start_date, as: :string, input_html: { data: { controller: "datepicker" } } %>
    <%= f.input :end_date, as: :string, input_html: { data: { controller: "datepicker" } } %>
    <%= f.input :price, disabled: true, label: "$ per day", input_html: { value: @goat.price } %>
    <%= f.input :comment, label: "Add comment to booking request:" %>
    <div id="confirm" class="btn btn-primary">Confirm</div>
  </div>
  <div id="toggleDiv" class="d-none">
    <h2 class="mt-3">Need a way to get your Goat home?</h2>
    <p>Get 20% off at Turbo Utes using our exclusive <%= link_to "link!", utez_path %></p>
    <%= f.submit "Make Booking", class: "btn btn-primary mt-3" %>
    <% end %>
  </div>
</div>
