<div class="new_goat">
<h1>Add New Goat</h1>
<%= simple_form_for goat, html: { class: "goat-form" } do |f| %>
  <%= f.input :name %>
  <%= f.input :color %>
  <%= f.input :personality %>
  <%= f.input :weight %>
  <%= f.input :age %>
  <%= f.input :price %>
  <%= f.input :photo, as: :file %>
  <%= f.submit "Submit Goat", class: "btn btn-primary" %>
<% end %></div>
