  <div class="container">
<% @goats.each do |goat| %>
<div class="card border">
    <h2>Name: <%= goat.name %></h2>
    <p>Price: <%= goat.price %></p>
    <p>Color: <%= goat.color %></p>
    <p>Personality: <%= goat.personality %></p>
    <p>Weight: <%= goat.weight %></p>
    <p>Age: <%= goat.age %></p>
    <%= link_to "Show me the Goat", goat_path(goat) %>
    </div>
<% end %>
  </div>

<%= render "form", goat: @goat %>
 