<div data-controller="toggle" class="d-flex flex-column w-100">
  <div class="add-new-button align-self-end">
    <button data-action="click->toggle#fire" data-action="click->blur#fire" class="btn btn-outline-primary">Add a Goat</button>
  </div>
  <div class="d-flex">
    <div data-toggle-target="blurrableElement" class="container-index">
      <% @goats.each do |goat| %>
        <div class="card-trip">
          <% if goat.photo.attached? %>
            <%= cl_image_tag goat.photo.key, height: 400, width: 400, crop: :fill %>
          <% else %>
            <%= image_tag "nogoat.jpg", alt: "No image available", height: 400, width: 400, crop: :fill %>
          <% end %>
          <div class="d-flex justify-content-between align-items-end">
            <div class="card-trip-infos">
              <h2><%= link_to goat.name, goat_path(goat) %></h2>
              <p>Price: $<%= goat.price %></p>
              <p>Color: <%= goat.color.capitalize %></p>
              <p>Personality: <%= goat.personality %></p>
              <p>Weight: <%= goat.weight %>kg</p>
              <p>Age: <%= goat.age %> years</p>
              <p>Owner: <%= goat.user.email %></p>
            </div>
            <div class="rental-info p-3">
              <% if goat.offers.any? { |offer| offer.status == "confirmed" } %>
                <p class="btn btn-success disabled">on rent!</p>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div data-toggle-target="togglableElement" class="d-none">
      <%= render "form", goat: @goat %>
    </div>
  </div>
</div>
