
<%# <img src="Boris-the-goat.jpg" alt="goat"> %>
<div class="container-show">
  <%= cl_image_tag @goat.photo.key, height: 300, width: 400, crop: :fill %>
<div class="info-card d-flex flex-column">
  <h1><%= @goat.name %></h1>
  <li><%= @goat.personality %></li>
  <li><%= @goat.age %> Months</li>
  <li><%= @goat.weight %> Kg's</li>
<div class="button">
  <p class="btn btn-primary">Rent now!</p>
  <p>$<%= @goat.price %></p>
</div>
</div>
</div>
<div><%= link_to "Edit Goat", edit_goat_path(@goat), class: "btn btn-primary mt-3" %></div>


<div><%= link_to "Delete Goat", goat_path(@goat), class: "btn btn-danger", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></div>
