<div class="container-show">
  <%= cl_image_tag @goat.photo.key, height: 300, width: 400, crop: :fill  %>
  <div class="info-card d-flex flex-column">
    <h1><%= @goat.name %></h1>
    <ul>
      <li><%= @goat.personality %></li>
      <li><%= @goat.age %> Months</li>
      <li><%= @goat.weight %> Kg's</li>
    </ul>
    <div class="button">
      <%= link_to "Rent Now!", new_goat_offer_path(@goat), class: "btn btn-primary" %>
      <p>$<%= @goat.price %></p>
    </div>
  </div>
</div>
<div>
  <%= link_to "Back to all Goats", goats_path, class: "btn btn-primary mt-3" %>
  <%= link_to "Edit Goat", edit_goat_path(@goat), class: "btn btn-primary mt-3" %>
  <%= link_to "Delete Goat", goat_path(@goat), class: "btn btn-danger mt-3", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  <%= link_to "Leave a Review", new_goat_review_path(@goat), class: "btn btn-primary" %>
</div>

<div class="review">
<h1>Reviews</h1>
<% @goat.reviews.each do |review|%>
<p><%= review.content %></p>
<% end %>
</div>
