<div class="container container-show ml-4 my-4">
  <div class="d-flex justify-content-start">
    <%= cl_image_tag @goat.photo.key, height: 300, width: 400, crop: :fill %>
    <div class="info-card d-flex flex-column border">
      <h1><%= @goat.name %></h1>
      <ul>
        <li><%= @goat.personality %></li>
        <li><%= @goat.age %> years</li>
        <li><%= @goat.weight %>kg</li>
        <li>Owned by <%= @goat.user.email %></li>
        <%# <li>Rented by <%= @goat.offers.email %></li> %>
      </ul>
      <div class="button">
        <%= link_to "Rent Now!", new_goat_offer_path(@goat), class: "btn btn-primary" %>
        <p>$<%= @goat.price %></p>
      </div>
    </div>
    <div class="review border w-25">
      <h1>Reviews</h1>
      <% @goat.reviews.each do |review| %>
        <p><%= review.content %></p>
      <% end %>
    </div>
  </div>
  <div>
    <%= link_to "Back to all Goats", goats_path, class: "btn btn-primary mt-3" %>
    <%= link_to "Edit Goat", edit_goat_path(@goat), class: "btn btn-primary mt-3" %>
    <%= link_to "Leave a Review", new_goat_review_path(@goat), class: "btn btn-primary mt-3" %>
    <%= link_to "Delete Goat", goat_path(@goat), class: "btn btn-danger mt-3", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  </div>
</div>
